.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-nav {
	display: flex;
}

.footer-contact .container {
	display: flex;
	justify-content: space-between;
}

.footer-contact-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 70%;
	margin-right: 5%;
}

.footer-contactForm {
	width: 25%;
}

.footer-contactForm-fieldset {
	display: flex;
}

.main-portfolio {
	display: flex;
	flex-wrap: wrap;
}

.main-portfolio-link {
	width: 23%;
	margin: 1%;
}

.main-portfolio-link:nth-child(4n) {
	margin-right: 0;
}

.main-portfolio-link:nth-child(4n+1) {
	margin-left: 0;
}


/*parte mobile*/
@media(max-width: 768px) {
	.header-nav {
		flex-direction: column;
	}

	.header .container {
		flex-direction: column;
		align-items: initial;
		text-align: center;
	}

	.main-portfolio {
		flex-direction: column;
	}

	.main-portfolio-link {
		width: 100%;
	}


	.footer-contact .container {
		flex-direction: column;
		align-items: center;
	}

	.footer-contact-list {
		margin: 0;
		width: 100%;
	}

	.footer-contactForm {
		width: 100%;
	}

	.footer-contactForm-fieldset {
		justify-content: center;
	}

	.header-nav-a-app {
		order: -1;
	}

}
